{% include "header.html" %}

<div style="font-family:arial;font-size:16px;">
  As you can see, I'm a programmer, not a designer.
  <br/>
  <br/>
  This site was born out of frustration with all current twitter and identica clients.  That's about it.  The site runs on a single dual-processor XServe, and is written completely in <a href="http://www.erlang.org/">Erlang</a>.  If you like the site please let me (twitter/identica:hydo) know.
  <br/>
  <br/>
  Coming Soon in order:<br>
  * Direct messages.  At the moment you can't even see t
</div>
{% include "footer.html" %}

