{% include "header.html" %}

<br/>
<div class="about">
  This site was born out of frustration with all current twitter and identica clients.  That's about it.  The site runs on a single dual-processor XServe, and is written completely in <a href="http://www.erlang.org/">Erlang</a>.  If you like the site please let me (twitter/identica:hydo) know.
  <br/>
  <br/>
  Coming Soon:
  <ul>
    <li>
      Ping.fm support.
    </li>
  </ul>
</div>
<div class="about">
  Version: 0.5.4<br>
  &nbsp;Direct message support.  I'm using the client now as my main twitter viewer.  Looks pretty good on an iphone as well.<br><br>
  Version: 0.5.2<br>
  &nbsp;Tweaked the message formatting just a bit and added the [@] button and controls to enable/disable the correct service to reply to the message.  Try the button, you'll see what I mean.
</div>
{% include "footer.html" %}
