<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Dorkinator - the reverse ping.fm... thingy</title>
  </head>
  <body>
    <div style="border-bottom:1px solid grey;height=45px;padding-bottom:5px;">
      <a href="/t/setup"><b>Setup</b></a> | <a href="/t/viewer"><b>Viewer</b></a>
    </div>
    <div style="align:center;margin-left:auto;margin-right:auto;margin-top:20px;padding:20px;width:90%;height:900px;background-color:#606870;">
      
    
