<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Dorkinator - the reverse ping.fm... thingy</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  </head>
  <body style="background-color:khaki;font-size:12px;font-family:arial;">
    <div class="accesstext" style="text-align:center;">
      <a href="/t/setup"><b>Setup</b></a> | 
      <a href="/t/viewer"><b>Viewer</b></a> | 
      <a href="/t/public"><b>Public</b></a> | 
      <a href="/t/public"><b>Replies</b></a>
    </div>

