
{% include "header.html" %}

<div class="about" style="font-size:14px;">
  <b>Royale With Cheese</b> is a web-based twitter and identi.ca client targetted at mobile browsers.</b><br/><br/>
  <b>Features:</b>
  <ul style="margin-left:-2px;">
    <li>Aggregated timelines from both twitter and identi.ca</li>
    <li>Normal tweet actions supported - Direct messages, replies, etc.</li>
    <li>Browse tweets from a specific location.  ie. Portland OR, Sao Palo Brazil, etc.</li>
  </ul>
  <br/>
  <br/>
  RWC is steered by its user community.  Would you like to suggest a feature, or alert us to a bug?  Sound off <u><a href="http://getsatisfaction.com/royalewithcheese">here</a></u>.
{% include "footer.html" %}
