{% include "header.html" %}
<div class="loginblock">
  <div id="gaia_loginbox" class="body">
    <form action="/t/setup" method="POST">
      <font style="color:#000000;">Twitter and identi.ca in one.<br>Passwords are stored in memory (kind of like memcache) and never written to disk or a database.</font>
      <div>
        <span>
          Twitter Login
        </span>
      </div>
      <input type="text" name="twitter_login" size=18>
      <div class="iphoneblock">
        <span>
          Twitter Password
        </span>
      </div>
      <input type="password" name="twitter_password" size=18>
      <hr>
      <div class="iphoneblock">
        <span>
          Identica Login
        </span>
      </div>
      <input type="text" name="identica_login" size=18>
      <div class="iphoneblock">
        <span>
          Identica Password
        </span>
      </div>
      <input type="password" name="identica_password" size=18>
      <div style="margin-top:5px;">
        <span>
          <input type="submit" value="Send"/>
        </span>
      </div>
    </form>
  </div>
</div>
{% include "footer.html" %}

