{% include "header.html" %}
{% include "toolbar.html" %}

<div style="font-weight:bold;">
  Add an account
  <form method="POST" action="/setup">
    <table style="width:200px;border:1px solid grey;">
      <tr><td>Type</td><td>
        <select name="account_type">
          <option value="twitter"/>twitter
          <option value="identica"/>identi.ca
        </select>
      </td></tr>
      <tr><td>Login</td><td><input type="text" name="acct_login"></td></tr>
      <tr><td>Password</td><td><input type="password" name="acct_password"></td></tr>
      <tr><td><input type="submit" value="Save"/></td></tr>
    </table>
  </form>
  <table style="width:200px;margin-top:5px;border:1px solid grey;">
    <tr><td>Service</td><td>Login</td></tr>
    {% for e in services %}
      <form method="POST" action="/delete_service">
        <input type="hidden" name="svc" value="{{ e.idx }}">
        <tr><td>{{ e.service }}</td><td>{{ e.login }}</td><td><input type="submit" value="X"></td></tr>
      </form>
    {% endfor %}
  </table>
</div>
{% include "footer.html" %}
