{% include "header.html" %}

<script type="text/javascript">
    function toggle_chxbox( Name ) {
        var Fx = document.getElementById( Name );
        if ( Fx ) {
            if ( Fx.checked ) {
                Fx.checked = false;
            } else {
                Fx.checked = true;
            }
        }
    }
</script>
<form method="POST" action="/t/post">
  <div style="text-align:center;margin-top:4px;">
    <input with="100%" type="text" name="message"/><input type=submit value="Post"/>
    <br/>
    <span onclick="toggle_chxbox('tchbx');">
      <b>Twitter:</b><input id="tchbx" type="checkbox" name="post_twitter" checked/>
    </span>
    <span onclick="toggle_chxbox('ichbx');">
      <b>Identica:</b><input id="ichbx" type="checkbox" name="post_identica" checked>
    </span>
  </div>
</form>

<br/>
{% for e in twittermessages %}
<div style="margin-bottom:2px;background-color:white;border:1px solid grey;">
  <table>
    <tr>
      <td>
        <a href="/t/tweet?{{ e.id }}"><img border=0 src="{{ e.picture }}" style="width:40px;height:40px;"/></a>
      </td>
      <td>
        {% ifequal e.svc "twitter" %}
        <a href="http://twitter.com/{{ e.screen_name }}">{{ e.name }}</a>
        {% endifequal %}
        {% ifequal e.svc "identica" %}
        <a href="http://identi.ca/{{ e.screen_name }}">{{ e.name }}</a>
        {% endifequal %}

        {% ifequal e.svc "twitter" %}
        From <a href="http://twitter.com/">twitter</a>
        {% endifequal %}

        {% ifequal e.svc "identica" %}
        From <a href="http://identi.ca/">identi.ca</a>
        {% endifequal %}
        <br/>
        {{ e.text }}
      </td>
    </tr>
  </table>
</div>
{% endfor %}

{% include "footer.html" %}
