{% include "header.html" %}

<div class="loginblock">
  <div class="gaia_loginbox" class="body">
    {% for e in twittermessages %}
    <div class="iphoneblock">
      <img src="{{ e.picture }}" style="width:40px;height:40px;"/>
      <span class="gaia le lbl">
        {{ e.text }}
      </span>
    </div>
    <!-- <hr style="color:#BBCCDD;"> -->
    {% endfor %}
    {% for e in identicamessages %}
    <div class="iphoneblock">
      <img src="{{ e.picture }}" style="width:40px;height:40px;"/>
      <span class="gaia le lbl">
        {{ e.text }}
      </span>
    </div>
    {% endfor %}
  </div>
</div>

{% include "footer.html" %}


